{
  "presets": [
    "es2016",
    "react",
    "survivejs-kanban"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        [
          "typecheck"
        ]
      ]
    }
  }
}